<footer>
  <div class="f-info">
    <div class="f-info-social">
      <a href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
      <a href="https://github.com/Harish8444rgit"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/harish-yadav-3ab363241/"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div>&copy;2024 Address Updater Solution Pvt.Ltd</div>
    <div class="f-info-links">
      <a href="#">Privacy</a> &nbsp;
      <a href="#">Terms</a>
    </div>
  </div>
</footer>