<% -layout("/layouts/boilerplates.ejs")%>

<body>
  <div class="row">
    <div class="col-8 offset-2">
      <br />  
      <h3>Add New Address</h3>


      <form id="addressForm" action="/users/<%= currUser.id %>/addresses/new" method="post" novalidate class="needs-validation">


        <div class="mb-3">
          <label for="street" class="form-label">Street <sup>*</sup>:</label>
          <input type="text" id="street" name="address[street]" placeholder="enter street name" class="form-control" required />
          <div class="invalid-feedback">
          </div>
        </div>

        <div class="mb-3">
          <label for="city" class="form-label">City <sup>*</sup>:</label>

          <input type="text" id="city" name="address[city]" placeholder="enter city name" class="form-control" required />
          <div class="invalid-feedback">
          </div>
        </div>
        <div class="mb-3">
          <label for="zipCode"  class="form-label">ZipCode <sup>*</sup>:</label>

          <input type="text" id="zipCode" name="address[zipCode]" placeholder="enter zipCode name" class="form-control" required />
          <div class="invalid-feedback">

          </div>
        </div>

        <div class="mb-3">
          <label for="state" class="form-label">State <sup>*</sup>:</label>

          <input type="text" id="state" name="address[state]" placeholder="enter state name" class="form-control" required />
          <div class="invalid-feedback">

          </div>
        </div>

        <div class="mb-3">
          <label for="country" class="form-label">Country<sup>*</sup>:</label>
          <input type="text" name="address[country]" id="country"  placeholder="enter country" class="form-control" required />
          <div class="invalid-feedback">

          </div>
        </div>

        <br />

        <div class="mb-3">
          <button type="submit" class="btn btn-dark add-btn">Add</button>
        </div>
      </form>   
    </div>
  </div>
</body>