<% -layout("/layouts/boilerplates.ejs")%>

<body>

  <div class="col-6 offset-2 mb-3 mt-3 "><h3>Login</h3></div>
  <div class="row">
      <div class="col-8 offset-2">
       <br>

<form action="/login" method="post" id="login" novalidate class="needs-validation">
  <div class="mb-3">
    <label for="username" claas="form-lable">Username:</label>
    <input
      type="text"
      id="username"
      name="username"
      class="form-control"
      required
    />
    <div class="invalid-feedback">
      start with character, contains atleast 4 characters alphanumeric ,contain only '_'.
    </div>
    
</div>

  <div class="mb-3">
    <label for="Password" claas="form-lable">Password:</label>
    <input
      type="password"
      id="Password"
      name="password"
      class="form-control"
      required />
      <div class="invalid-feedback">
        Password must be at least 8 characters long and contain one uppercase and one special character.
      </div>
    </div>
  <br>
  <div class="mb-3 d-flex">Dont have Account? &nbsp;<a class="nav-link" href="/signup"><b>Singup</b></a></div>
  <div class="mb-3"><button class=" btn btn-success ">Login</button></div> 
</form>
</div>
</div>
</body>
